*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid green;
 
}

body{
    position: relative;
    
   
}


.brand-image{
    width: 10rem;
    height: 5rem;
}


.navbar-brand {
    margin-left: 2rem;
}



.navbar {
    background-color: rgb(247, 89, 89);
    
    width: 100%;
    overflow: hidden;
    color: white !important;
   top: 0;
   /* position: sticky; */
  
}


.navbar .navbar-brand{
    width: 8rem;
    height: 4rem;
    margin-left: 10px;
}

.navbar-nav{
    margin-left: 3rem;
    margin-top: 10px;
}

.logoname {
    margin-top: 1rem;
    text-decoration: none;
}

.logo-name {

    text-decoration: none;
}


.navbar a {
    color: white;
    text-align: center;
    /* font-size: large; */
    margin-right: 40px;
   
}

.navbar-toggle {
    display:none;
}


.navbar a:hover {
    color: red;
    text-align: center;

}


.navbar-text,
.navbar-brand,
.navbar-link {
    color: white !important;
}



.homeHeadline{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

        
}

.home-sub-healine {
    margin-bottom: 1rem;
}



.homepage-wrapper{
    
    width: 100%;
    height: 100%;
    top: 16.5%;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 60px;
    
}


.homeHead {
    font-weight: 700;
    /* text-transform: uppercase; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1rem;
    
}

.imageContainer {
    margin-top: 10rem;
    width: 100%;
    height: 100%;
}

.homeImage {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* .carousel{
    position: relative;
    top: 15%;
    width: 100%;
}


.carousel-inner > .carousel-item > img {
    width: 100%;
    height: 100vh;
}




.homeBackround {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    
} */

.homeDetails {
    text-align: left;
    padding: 60px;
    color: white;
    
    
}


.about-us-wrapper{
    /* margin-top: rem; */
    /* margin-bottom: 3rem; */
    background-color: red;
    color: white;
    padding: 60px;
    width: 100%;
    height: 100%;
 
   

}

.imageContainer2 {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
}

.aboutUsImage{
    width: 100%;
    height: 70%;
    object-fit: fill;
}


.headline {
    margin-bottom: 3rem;
    font-weight: 700;
    color: white;
}

.aboutUsDetails {
    padding: 1rem;
    text-align: left;
}

.aboutUsHead{
    text-decoration: none;
    color: white;
    /* text-transform: uppercase; */
}

.about-us-sub-wrapper {
    text-align: center;
}

/* services styling */

.services-wrapper {
    background-color: blue;
    color: white;
    /* margin-bottom: 5rem; */
    padding: 60px;
}

.servicesImage {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
}

.servicesImg {
    width: 100%;
    height: 70%;
    object-fit: cover;
   
}




.services-sub-wrapper{
    margin-top: 3rem;
}

.serviceParagraphs {
/* padding: 3rem; */
text-align: left;
}

.serviceHeadline {
    text-align: center;
    /* margin-bottom: 3rem; */
    
}

.servicesHead{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 700;
   
}

.button {
    text-align: center;
}

.learn-more {
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem;
    width: 10rem;
    color: white;

}

.learn-more:hover{
    background-color: white;
    border: none;
    color: blue;
    padding: 1rem;
    width: 10rem;
}


.serviceMore {
    padding: 60px;
    /* margin-bottom: 3rem; */
    background-color: red;
    color: white;
    text-align: center;
    display: none;
    
   
}


.serviceMore2 {
    padding: 60px;
    /* margin-bottom: 3rem; */
    background-color: red;
    color: white;
    display: none;
    text-align: center;
   
}

/* .image-container{
    width: 100%;
    height: 100%;
} */

.keycollect{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform .5s ease-in-out;
}





.keycollect:hover{
    transform: scale(1.1);
}


.estate{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 1rem;
    transition: transform .5s ease-in-out;
}


.estate:hover{
    transform: scale(1.1);
}


/* MENTORSHIP */

.mentorship-wrapper {
    background-color: blue;
    color: white;
    padding: 60px;
}

.mentor {
    text-align: center;
    margin-bottom: 2rem;
}

.mentorshipHead {
    text-decoration: none;
    color: white;
    font-weight: 700;


}

.mentorship-sub-healine {
    margin-top: 2rem;
}

footer {
    background-color: rgb(39, 39, 39);
    padding: 60px;
    color: white;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

.footer-wrapper {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 60px;
}
   

.contact {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.contact-detail {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.handle{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.reserves {
    text-align: center;
    width: 100%;
    
    height: 100px;
    padding: 2rem;
    text-decoration: none;

}

.reserves a {
    text-decoration: none;
    cursor: pointer;
}

.productionDate {
    color: white;
}

/* 
#overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  } */
  





@media screen and (max-width: 600px) {


    body{
        margin: 0;
        padding: 0;
    }  
    
    
    .navbar .navbar-brand{
        width: 1rem;
        height: 4rem;
        margin-left: 2px;
    }
    
    .navbar-nav{
        margin-top: 10px;
    }
    
    .logoname {
        margin-top: 15px;
        margin-left: 10px;
    }
    
    
    .brand-image{
        width: 5rem;
        height: 2.5rem;
        margin-top: 10px;
    }

    


    .headline a{
        text-decoration: none;
        color: blue;
    } 
    
    .homepage-wrapper{
        /* margin-top: 2rem; */
        width: 100%;
        height: 100%; 
        padding: 2px;
        padding-bottom: 5rem;
        
    }




    .imageContainer{
        width: 100%;
        height: 100%;
    }


    .homeImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .homeDetails {
        text-align: center;
        padding: 20px;
        color: white;

    }

    .imageContainer {
        margin-top: 3px;
        padding: 2rem;
    }

    /* about us styles */

    .about-us-wrapper{
        background-color: red;
        color: white;
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    
    .imageContainer2 {
        margin-top: 3px;
        width: 100%;
        height: 100%;
        padding: 2rem;
    }
    
    .aboutUsImage{
        width: 100%;
        height: 70%;
        object-fit: fill;
    }
    
    
    .headline {
        margin-bottom: 3rem;
        font-weight: 700;
        color: white;
    }
    
    .aboutUsDetails {
        padding: 20px;
        text-align: center;
        color: white;
    }
    
    .aboutUsHead{
        text-decoration: none;
        color: white;
        /* text-transform: uppercase; */
    }
    
    .about-us-sub-wrapper {
        text-align: center;
    }



    .services-wrapper {
        background-color: blue;
        color: white;
        /* margin-bottom: 5rem; */
        padding: 20px;
        border-bottom: 1px solid white;
    }
    
    .servicesImage {
        margin-top: 3rem;
        width: 100%;
        height: 100%;
    }
    
    .servicesImg {
        width: 100%;
        height: 70%;
        object-fit: cover;
       
    }
    
    
    
    
    .services-sub-wrapper{
        margin-top: 3rem;
    }
    
    .serviceParagraphs {
    /* padding: 3rem; */
    text-align: center;
    }
    
    .serviceHeadline {
        text-align: center;
        /* margin-bottom: 3rem; */
        
    }
    
    .servicesHead{
        text-decoration: none;
        color: white;
        font-size: larger;
        font-weight: 700;
       
    }
    
    .button {
        text-align: center;
    }
    
    .learn-more {
        text-align: center;
        background-color: transparent;
        border: 1px solid white;
        padding: 5px;
        width: 10rem;
        /* height:1rem; */
        color: white;
    
    }
    
    .learn-more:hover{
        background-color: white;
        border: none;
        color: blue;
        width: 10rem;
        padding: 1rem;
    }
    
    
    .serviceMore {
        padding: 20px;
        /* margin-bottom: 3rem; */
        background-color: red;
        color: white;
        display: none;
        text-align: center;
       
    }
    
    
    .serviceMore2 {
        padding: 60px;
        /* margin-bottom: 3rem; */
        background-color: red;
        color: white;
        display: none;
       
    }
    
    /* .image-container{
        width: 100%;
        height: 100%;
    } */
    
    .keycollect{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
        transition: transform .5s ease-in-out;
    }
    
    
    
    
    
    .keycollect:hover{
        transform: scale(1.1);
    }
    
    
    .estate{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 1rem;
        transition: transform .5s ease-in-out;
    }
    
    
    .estate:hover{
        transform: scale(1.1);
    }
    
    



















    .mentorship-wrapper {
        background-color: blue;
        color: white;
        padding: 20px;
        text-align: center;
    }
    
    .mentor {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .mentorshipHead {
        text-decoration: none;
        color: white;
        font-weight: 700;
    
    
    }
    
    .mentorship-sub-healine {
        margin-top: 2rem;
    }
    
.footer {
    padding: 20px;
    background-color: rgb(97, 97, 97);
    color: white;
    text-align:center;
}




#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }





.footer-wrapper {
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 1rem;
}




.footer-social-handles {
    text-decoration: none;
    color: white;
    margin: 10px;
}


.reserves {
    text-align: left;
    width: 100%;
    height: 100px;
    border-top: 1px solid white;

    margin-top: 2rem;
    padding: 1rem;
    text-decoration: none;
    height: 150px;

}

.reserves a {
    text-decoration: none;
    cursor: pointer;
}

}